#root{
  overflow-x: hidden;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Arial", "Helvetica", sans-serif;
  background-image: url(https://res.cloudinary.com/genis-project/image/upload/v1630238542/genis-project-background-image_ok1zew.jpg);
}

body{
  margin: 0px;
}

hr{
  width: 100%;
}

.langChanger{
  width: 100%;
  border-top: solid 1px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}

.homePage{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.tagCloudResult{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navBar a{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 5px;
  height: 56%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.02857em;
  color: white;
}

.navMenuList{
  display: flex;
  flex-direction: column;
  background-color: red;
  z-index: 1;
  position: absolute;
  top: 57px;
  left: 10px;
}

@media screen and (max-width: 600px) {
  .navMenuList{
    position: absolute;
    top: 52px;
    left: 10px;
  }
}

.profileLink{
  display: flex;
  align-items: center;
  float: right;
}

.profileLink:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.navBar button:hover, .navBar a:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.registerForm, .loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
}

.collectionPage, .userPage{
  width: 90vw;
  max-width: 600px;
}

.registerForm #registerFormField, .loginForm #loginFormField{
  height: 40px;
  width: 90vw;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
}

.registerForm #formError,
.loginForm #formError,
.createCollection #formError,
.createItem #formError{
  color: red;
  font-size: 14px;
}

.registerForm #submitButton,
.loginForm #submitButton,
.createCollection #submitButton,
.createItem #submitButton,
.homePage #submitButton,
.tagCloudResult #submitButton,
.userPage #submitButton,
.collectionPage #submitButton{
  color: white;
  background-color: red;
}

.registerForm #submitButton:hover,
.loginForm #submitButton:hover,
.createCollection #submitButton:hover,
.createItem #submitButton:hover,
.homePage #submitButton:hover,
.tagCloudResult #submitButton:hover,
.userPage #submitButton:hover,
.collectionPage #submitButton:hover{
  color: red;
  background-color: white;
}

.createCollection, .createItem, .loginPage, .registerPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.dropzone{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
}

.createCollectionMain, .createItemMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 20px;
  text-align: center;
}

.createCollectionAdditional, .createItemAdditional{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.additFields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px 10px;
}

.additItemFields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.additItemFields #inputCreateItem{
  width: 100%;
  max-width: 200px;
  height: 25px;
  margin: 8px;
  margin-left: 0px;
}

#inputAdditionalField{
  margin: 4px;
  width: 180px;
}

.createCollectionMain #inputCreateCollection, .createItemMain #inputCreateItem{
  width: 90vw;
  max-width: 400px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
}

.createItemMain #inputCreateItemTags{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.collection{
  word-break: break-word;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.collection #collectionBody{
  background-color: white;
  background-size: 100% 100%;
}

.collection header, .collection footer, .item header{
  display: flex;
  border-radius: 10px 10px 0px 0px;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: red;
  padding: 5px;
}

.collection header:hover, .item header:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.collection p{
  width: 100%;
}

.collection footer{
  border-radius: 0px 0px 10px 10px;
}

.collection hr{
  width: 90%;
  margin-top: 0px;
}

.collTitle, .item header{
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.collDate{
  padding: 5px 0px;
}

.item{
  word-break: break-word;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.itemTag{
  padding: 5px;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.itemTag:hover{
  cursor: pointer;
  color: red;
  background-color: white;
}

.item footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.likeButton{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 16px;
}

.buttons{
  border-radius: 8px;
}

.buttons:hover{
  cursor: pointer;
  background-color: rgb(224, 216, 216);
}

.likeButton svg{
  padding-right: 3px;
}

.sortSelect{
  width: 150px;
}

.buttonBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}