#root{
  overflow-x: hidden;
}

.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body{
  margin: 0px;
}

hr{
  width: 100%;
}

.homePage{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.tagCloudResult{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navBar a{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 5px;
  height: 56%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.02857em;
  color: white;
}

.navMenuList{
  display: flex;
  flex-direction: column;
  background-color: red;
  z-index: 1;
  position: absolute;
  top: 57px;
  left: 10px;
}

@media screen and (max-width: 600px) {
  .navMenuList{
    position: absolute;
    top: 52px;
    left: 10px;
  }
}

.profileLink{
  display: flex;
  align-items: center;
  float: right;
}

.profileLink:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.navBar button:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.navBar a:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.registerForm, .loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  padding: 20px;
}

.registerForm #registerFormField, .loginForm #loginFormField{
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
}

.registerForm button, .loginForm button{
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 25%;
  margin-left: 75%;
  height: 30px;
}

.registerForm button:hover, .loginForm button:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.registerForm span, .loginForm span{
  color: red;
  font-size: 14px;
}

.createCollection, .createItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.createCollectionMain, .createItemMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 20px;
  text-align: center;
}

.createCollectionAdditional, .createItemAdditional{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.additFields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px 10px;
}

.additItemFields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px 0px;
}

.additItemFields #inputCreateItem{
  width: 100%;
  max-width: 200px;
  height: 25px;
  margin: 8px;
}

#inputAdditionalField{
  margin: 4px;
  width: 180px;
}

.createCollectionMain #inputCreateCollection, .createItemMain #inputCreateItem{
  width: 90vw;
  max-width: 400px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
}

.createItemMain #inputCreateItemTags{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.createCollection span, .createItemMain span{
  color: red;
  font-size: 14px;
}

.createItem #createItemSubmit{
  background-color: white;
  color: red;
}

.createCollection button:hover, .createItem #createItemSubmit:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(233, 102, 102);
}

.collection{
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.collection header, .collection footer, .item header{
  display: flex;
  border-radius: 10px 10px 0px 0px;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: red;
  padding: 5px 0px;
}

.collection header:hover, .item header:hover{
  cursor: pointer;
}

.collection p{
  word-break: break-all;
  width: 100%;
}

.collection footer{
  border-radius: 0px 0px 10px 10px;
}

.collection hr{
  width: 90%;
  margin-top: 0px;
}

.collTitle, .item header{
  padding: 5px 0px;
  font-weight: bold;
}

.collDate{
  padding: 5px 0px;
}

.item{
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.itemTag{
  padding: 5px;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.itemTag:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.item footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.likeButton{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 16px;
}

.buttons{
  border-radius: 8px;
}

.buttons:hover{
  cursor: pointer;
  background-color: rgb(224, 216, 216);
}

.likeButton svg{
  padding-right: 3px;
}

.sortSelect{
  width: 150px;
}
