.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body{
  margin: 0px;
}

hr{
  width: 100%;
}

.homePage{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tagCloudResult{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navBar{
  width: 100%;
  height: 50px;
  background-color: red;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.profileLink{
  padding-left: 10px;
  padding-right: 10px;
  height: 80%;
  width: auto;
  border-radius: 10px;
  float: right;
  margin: 0px 10px 0px auto;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.navBar a{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  height: 80%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.navBar button{
  padding-left: 10px;
  padding-right: 10px;
  height: 80%;
  border-radius: 10px;
  float: right;
  margin: 0px 10px 0px 10px;
  background-color: red;
  color: white;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.profileLink:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.navBar button:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.navBar a:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.collectionsLeftSide{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.itemsRightSide{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.registerForm, .loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  padding: 20px;
}

.registerForm #registerFormField, .loginForm #loginFormField{
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
}

.registerForm button, .loginForm button{
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 25%;
  margin-left: 75%;
  height: 30px;
}

.registerForm button:hover, .loginForm button:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.registerForm span, .loginForm span{
  color: red;
  font-size: 14px;
}

.createCollection, .createItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.createCollectionMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
  margin-left: 200px;
}

.createItemMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
}

.createCollectionAdditional, .createItemAdditional{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.additFields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px 10px;
}

.additFields #inputAdditionalField{
  margin: 5px;
}

.inputTextCreateCollection{
  width: 800px;
}

.createCollectionMain #inputCreateCollection, .createItemMain #inputCreateItem{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
}

.createItemMain #inputCreateItemTags{
  width: 100%;
  height: auto;
}

.createCollection #createCollectionSubmit, .createItem #createItemSubmit{
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 25%;
  margin-left: 75%;
  height: 30px;
}

.createCollection span, .createItemMain span{
  color: red;
  font-size: 14px;
}

.createCollection button:hover, .createItem button:hover{
  cursor: pointer;
  background-color: rgb(233, 102, 102);
}

.collection{
  width: 400px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item{
  width: 500px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.likeButton{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 16px;
}

.likeButton svg{
  padding-right: 3px;
}

.sortSelect{
  display: flex;
  flex-direction: row;
}

.FavoriteBorderIcon{
  background-color: red;
}